.button {
  font: inherit;
  border: 1px solid #617a55;
  background: #a4d0a4;
  color: #1a120b;
  font-weight: 550;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #e7ab79;
  border-color: #4c3a51;
}

.button:focus {
  outline: none;
}
